.about-wrapper{
	min-height: 100vh;
}
.img-container img{
	display: block;
	margin: 1rem auto;
}
.about-info p{
	width: 500px;
	margin: 0 auto; 
	text-align: justify;
	line-height: 1.2; 
	font-size: 1.2rem; 
	padding-bottom: 2rem;
}