.blog-container {
	width: 80vw;
	margin: 1rem auto;
}

.single-blog {
	border-top: 1px solid gray;
	padding: 1rem 0;
}
.single-blog:first-child{
	border-top: none;
}

.question {
	margin-bottom: 2rem;
	/* text-align: center; */
	text-transform: capitalize;
	
}

.authentication {}

.answer-title {}

.answer-lists {}

.answer-container {
	display: flex;
	justify-content: space-between;
}
.authentication, .authorization {
	width: 45%;
}
.answer-lists li {
	padding: 1rem 0.5rem; 
	font-size: 1rem;
}

.firebase li{
	font-size: 1rem;
	font-weight: bold; 
	letter-spacing: 0.2rem;

}